#include "xlcMsg.inc"

STRINGTABLE
{
  ecCannotCreateExcel,                      "Can't create Excel.Application."
  ecWorkbookNotFound ,                      "The '%s' workbook not found."
  ecSheetNotFound,                          "The '%s' worksheet not found."
  ecRangeNotFound ,                         "The '%s' range not found."
  ecMacroRuntimeError,                      "Run-time error in the '%s' macro."
  ecReportOptionError,                      "Can't process report option."
  ecSheetOptionError,                       "Can't process worksheet option."
  ecSaveInTempError,                        "Error saving temporary workbook."
  ecDataSetNotOpen,                         "The '%s' dataSet is not in an open state."
  ecPrinterNotFound,                        "Default printer not found."
  ecTemplateAlreadyOpen,                    "The '%s' template is already open."
  ecExcelDDENotAvailable,                   "Excel DDE Server not available."
  ecTemplateNotFound,                       "The '%s' template not found."
  ecIncorrectRangeFormat,                   "Incorrect format of the '%s' range."
  ecOLEContainerError,                      "Can't create report in the OLEContainer."
  ecOptionParameterNotFound,                "The '%s' option parameter not found."
  ecOptionParameterValueIncorrectType,      "Incorrect type of the '%s' option parameter value."
  ecCannotCreateName,                       "Cannot create a name for the '%s' field."
  ecMultisheetFieldNotFound,                "The '%s' multisheet field not found."
  ecMultisheetDataSourceNotFound,           "The '%s' multisheet datasource not found."
  ecDataSourceNotFound,	                    "The '%s' DataSource not found."
  ecMultisheetNotAvailable,                 "The multisheet report not suppoted."
  ecFileNotFound,                           "The '%s' file not found."
  ecCannotUsMSDataSource,                   "The '%s' datasource cannot by used for multisheet report."
  ecParameterAlreadyExist,                  "The '%s' parameter already exists."
  ecAliasAlreadyExists,                     "The '%s' alias already exists."
  ecExcelNotInstalled,                      "MS Excel not installed"
  ecIncorrectExcelApp,                      "Parameter is not an Excel.Application object"
  ecIncorrectWbk,                           "Parameter is not an Excel.Workbook object"

  msgComponentMenuEdit,                     "Edit template..."
  msgComponentMenuBuild,                    "Report..."
  msgComponentMenuBuildDebug,               "Debug report..."
  msgComponentMenuAbout,                    "About XL Report..."
  msgPropertyEditorFileOpen,                "Microsoft Excel Workbooks(*.xls)|*.xls"
  msgPropertyEditorSelectTemplate,          "Select a template"
  msgPropertyEditorSelectTempPath,          "Select the folder to keep temporary files"
  msgAddDataSourceprohibited,               "To Add DataSource objects in collection in Runtime prohibited."
  msgConfirmRangePropertyChange,            "This source is bound to master or detail sources. Proceed anyway?"
  msgComponentMenuRefresh,                  "Refresh parameters..."
}